!!! html
%html
  %head
    %title
      rails6app
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application',
      media: 'all'
    = javascript_include_tag 'application'

  %body
    = yield

  :javascript
    window.controller="#{controller_name}"
    window.action='#{action_name}'

  = javascript_pack_tag "#{controller_name}/#{action_name}"
